
$font-path: '../fonts' !global;
@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon.eot?c140ek');
  src:  url('#{$font-path}/icomoon.eot?c140ek#iefix') format('embedded-opentype'),
  url('#{$font-path}/icomoon.ttf?c140ek') format('truetype'),
  url('#{$font-path}/icomoon.woff?c140ek') format('woff'),
  url('#{$font-path}/icomoon.svg?c140ek#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-alt:before {
  content: "\e900";
}
.icon-paper-plane:before {
  content: "\e901";
}
.icon-send:before {
  content: "\e901";
}
.icon-pinterest:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-facebook-f:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}

@font-face {
  font-family: 'clayton';
  src:  url('#{$font-path}/clayton.eot?juyxql');
  src:  url('#{$font-path}/clayton.eot?juyxql#iefix') format('embedded-opentype'),
  url('#{$font-path}/clayton.woff2?juyxql') format('woff2'),
  url('#{$font-path}/clayton.woff?juyxql') format('woff'),
  url('#{$font-path}/clayton.ttf?juyxql') format('truetype'),
  url('#{$font-path}/clayton.svg?juyxql#clayton') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
