@media screen and (min-width: 769px) {
  .clayton-h-type-b .clayton-logo {
    margin: 8px 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .clayton-h-type-b .clayton-logo img {
    max-height: 50px;
    width: auto;
    min-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .clayton-hm-type-b .clayton-logo {
    margin: 2px 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .clayton-hm-type-b .clayton-logo img {
    max-height: 50px;
    width: auto;
    min-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .clayton-hm-type-b .clayton-h-hl {
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
