.nav-links > * {
  width: 60px;
  &.current {
    background: linear-gradient(
        110deg,
        transparent 30%,
        $bleu-alpine 30%,
        $bleu-alpine 70%,
        transparent 70%
      )
      100%/100% 300% no-repeat;
    background-color: transparent;
  }
}


