 .clayton-c-trigger {
   transform: skewX(-18deg);
    span {
      text-transform: uppercase;
    }
  }
 .clayton-mc-comments_wi {
   .comment-author.vcard {
     img{
       -webkit-clip-path: polygon(18% 0%, 100% 0%, 82% 100%, 0% 100%);
       clip-path: polygon(18% 0%, 100% 0%, 82% 100%, 0% 100%);
     }
   }

   .form-submit {
     transform: skewX(-18deg);
     button {
       text-transform: uppercase;
     }
   }
 }

 .clayton-c .clayton-mc {
   width: 55%;
 }
 @media screen and (max-width: 768px) {
   .clayton-c .clayton-mc {
     width: 100%;
   }
 }

 blockquote {
   font-size: 20px;
   padding-left: 10px;
 }
 @media screen and (max-width: 768px) {
   blockquote {
     font-size: 16px;
     padding-left: 10px;
   }
 }